*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #7AB8BF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    color: #A67458;
    text-align: center;
    padding-bottom: 20px;
}

input{
    display: block;
    border: none;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    padding: 8px 0;

    &:hover{
        background-color: #C4EEF2;
    }
}

button{
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;

    &:hover{
        background-color: #C4EEF2;
    }
}

div{
    text-align: center;
}

